<!DOCTYPE html>
<html class="h100" lang="ru">

  <head>
    {{> meta}}
    <title>Регистрация</title>
    {{> styles}}
  </head>

  <body class="auth-page h100">
    <form class="form-sign needs-validation" method="POST" novalidate>
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
      </div>

      <div class="form-label-group">
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputEmail">Email</label>
        <div class="invalid-feedback">Укажите корректный email-адрес</div>
      </div>

      <div class="form-label-group">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z!@#$%^&*]{6,15}$" required>
        <label for="inputPassword">Пароль</label>
        <div class="invalid-feedback">Пароль должен иметь длину от 6 до 15 символов и содержать латинские буквы в верхнем и нижнем регистре, цифры и спецсимволы</div>
      </div>

      {{!-- <div class="mb-3 form-check">
        <label class="form-check-label">
          <input name="remember" class="form-check-input" type="checkbox" value="remember-me"> Запомнить меня
        </label>
      </div> --}}
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>

      <p class="mt-4 text-muted text-center">Если у вас уже есть аккаунт, вы можете <a href="/auth/signin">войти с его помощью</a>.</p>
    </form>

    {{> scripts}}
  </body>

</html>
