<header class="aside">
  <div class="logo">КРЫМ+КРЕПЕЖ</div>

  <div class="header-items">

    <div class="contacts">
      <a class="tel" href="tel:+79780011212">8 (978) 001-12-12</a><br />
      <!--a class="tel" href="tel:+79780011212">1@alexst.com</a><br/-->
      <p class="time">Пн-Вс, с 9:00 до 19:00</p>
    </div>

    <div style="font-weight: 500;">Выбери категорию:</div>
    <ol>
      {{#each allCategories}} 
        <li><a href="/{{id}}">{{name}}</a></li>
      {{/each}}
    </ol>
  </div>
</header>
