<div class="banner-top">
  <div class="container">
    Крепеж и строительный инструмент оптом и в розницу. Лучшие цены! Доставка по Крыму. <a class="more"
      href="#">ПОДРОБНЕЕ</a>
  </div>
</div>
