<div class="content-header">
  <nav class="top-nav">
    <ul class="top-nav-links">
      <li><a href="#">Мои заказы</a></li>
      <li><a href="#">Доставка</a></li>
      <li><a href="#">О Компании</a></li>
      <li><a href="#">Помощь</a></li>
    </ul>
  </nav>
  <div class="cart">
    Корзина (<a href="#">пусто</a>)
  </div>
</div>
