<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Редактирование товара</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with product}}
            <nav class="mt-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/products">Товары</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/products/{{id}}">Товар</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
              </ol>
            </nav>
            
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Редактирование товара</h1>
            </div>

            <form class="row g-3 needs-validation" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
              <div class="col-12">
                <label for="nameField" class="form-label">Навание</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="bookmark"></span></span>
                  <input name="name" type="text" class="form-control" id="nameField" value="{{name}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
              <label for="categoryField" class="form-label">Категории <span class="text-muted">(Optional)</span></label>
              <div class="input-group">
                <span class="input-group-text"><span data-feather="folder"></span></span>
                <div class="form-control form-control-sm select-many">
                  <input type="hidden" name="categories" class="input" value="{{categories}}"> 
                  <div class="labels">
                  </div>
                  <div class="options">
                    <input type="text" class="form-control search" placeholder="Начните вводить название категории...">
                    {{#each ../categories}}
                      <div class="option" data-id="{{id}}">{{name}}</div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>

              <div class="col-12 image-input-container">
              <label class="form-label">Картинки <span class="text-muted">(Optional)</span></label>
              <div class="input-group">
                <span class="input-group-text"><span data-feather="image"></span></span>
                <div class="form-file form-image show">
                  <input name="images" type="file" class="form-file-input" accept=".jpeg,.jpg,.png,.svg,.gif" multiple>
                  <label class="form-file-label">
                    <span class="form-file-text">Выберите картинки (jpeg, jpg, png, svg, gif), размером до 3 мб</span>
                  </label>
                </div>
                <input name="images" type="url" class="form-control form-image" placeholder="Список URL через запятую (jpeg, jpg, png, svg, gif)" value="{{images}}">
                <select class="form-select image-input-type">
                  <option value="file">Файл</option>
                  <option value="url" selected>URL</option>
                </select>
              </div>

              <div class="image-preview border mt-1"></div>
            </div>

              <div class="col-12">
                <label for="descriptionField" class="form-label">Описание <span class="text-muted">(Optional)</span></label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="file-text"></span></span>
                  <textarea name="description" class="form-control" id="descriptionField">{{description}}</textarea>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <label for="fullDescriptionField" class="form-label">Полное описание <span class="text-muted">(Optional)</span></label>
                <textarea name="fullDescription" class="form-control tiny-editor" id="fullDescriptionField">{{fullDescription}}</textarea>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
              </div>
            </form>
          {{/with}}
        </div>
      </div>
    </main>

    {{> scripts}}
    <script src="https://cdn.tiny.cloud/1/i339pteoqx1d05396di9h5wedx4cwgtans11dg6watx1awr0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '.tiny-editor',
        height: 500,
        language: 'ru',
        relative_urls : false,
        plugins: [
          'advlist autolink lists link image charmap preview anchor',
          'searchreplace visualblocks code fullscreen help',
          'insertdatetime media table paste wordcount'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size: .875rem; }'
      })
    </script>
  </body>

</html>
