<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>{{product.name}}</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with product}}
            <nav class="mt-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/products">Товары</a></li>
                <li class="breadcrumb-item active" aria-current="page">Товар</li>
              </ol>
            </nav>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2 mr-2">{{name}}</h1>
              <div class="btn-toolbar btn-toolbar-title">
                <a class="mt-1 mb-1" href="/admin-panel/products/{{id}}/edit"><button class="btn btn-sm btn-primary" title="Изменить данные товара">Редактировать</button></a>
                <button id="delete" class="btn btn-sm btn-primary mb-1 ml-2 mt-1" title="Удалить товар">Удалить</button>
              </div>
            </div>

            <p><b>Название</b>: {{name}}</p>
            <p><b>Категории</b>: {{get_categories categories}}</p>
            <p><b>Артикулы</b>: <a href="/admin-panel/articles?product%5B0%5D={{id}}" target="_blank">{{../articlesCount}}</a></p>
            <div class="images-block">
              <b>Картинки</b>:

              <div class="images-preview">
                {{#each ../images}}
                  <a href="{{this}}" target="_blank"><img src="{{this}}" class="border" alt="{{this}}" title="{{this}}"></a>
                {{/each}}
              </div>
            </div>
            <p><b>Описание</b>: {{description}}</p>
            <p><b>Полное описание</b>:</p>
            {{#if fullDescription}}
              <div class="border preview">
                {{{fullDescription}}}
              </div>
            {{/if}}
          {{/with}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
