<!DOCTYPE html>
<html class="h100" lang="ru">

  <head>
    {{> meta}}
    <title>{{msg}}</title>
    {{> styles}}
  </head>

  <body class="text-center error-page h100">
    <div class="error-block">
      <h1 class="error-status">{{status}}</h1>
      <p class="error-message">{{msg}}</p>
    </div>

    {{> scripts}}
  </body>

</html>
