<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>КРЫМКРЕПЕЖ-РФ</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

    body {
      background-color: #bbb9b8;
      font-family: 'Fira Mono', monospace;
    }

    a {
      color: blue;
    }

    h1 {
      font-size: 2em;
    }


    a:visited {
      color: ;
    }

    .banner-top {
      background-color: black;
      color: white;
      text-align: center;
      padding: 15px 0;
    }

    .banner-top .more {
      display: inline-block;
      margin: 0 5px;
      font-weight: bold;
      color: gray;
    }

    header {}

    .header-items {}

    .time {
      color: #333;
      font-size: .8em;
      line-height: 1.5em;
    }

    .contacts {
      margin-bottom: 2.5em;
    }

    .logo {
      font-size: 2em;
      font-weight: 500;
      color: black;
      margin: 26px 0;
    }

    .aside {
      position: relative;
      width: 25%;
      min-width: 300px;
      padding-left: 2em;
    }

    .page-wrap {
      display: flex;
      position: -webkit-sticky;
      position: sticky;
    }

    .content {
      width: 100%;
    }

    .content-header {
      display: flex;
      border-bottom: 4px solid #000;
      margin: 1em 0 3em 0;
    }

    .top-nav {
      width: 75%;
    }

    .top-nav-links {
      display: flex;
      padding: 0;
    }

    .top-nav-links li {
      display: block;
      list-style: none;
      margin-right: 1.8em;
      text-transform: uppercase;
    }

    .top-nav-links li a {}



    .categories {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      max-width: 1000px;
      list-style: none;
      padding-left: 0;
    }

    .cat-item {
      border: 2px solid rgba(0, 0, 0, .5);
      padding: 1em;
    }

    .cat-link {
      text-decoration: none;
      color: #000;
    }

    .cat-item:hover {
      border-color: rgba(0, 0, 0, 1)
    }

    .cat-item:hover a {
      color: #000;
    }

    .cat-img {
      text-align: center;
    }

    .cat-img img {
      max-width: 150px;
      max-height: 150px;
    }

    .cat-name {
      font-size: .9em;
      margin-top: 1em;
      text-align: center;
    }


    .products {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
    }

    .product-item {
      margin: 1em;
    }

    .product-img {
      width: 200px;
      height: 200px;
      background-color: azure;
    }
  </style>
  <script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
</head>

<body>
  {{> banner}}

  <div class="container-fluid page-wrap">
    {{> aside}}

    <div class="content">
      {{> header}}

      <h1>Каталог</h1>

      {{#if categories}}
        <ul class="categories">
          {{#each categories}}
            <li class="cat-item">
              <a href="/{{id}}" class="cat-link">
                <div class="cat-img">
                  <img src="{{image}}">
                </div>
                <div class="cat-name">{{name}}</div>
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <ul class="categories">
          {{#each products}}
            <li class="cat-item">
              <a href="/{{../category}}/{{id}}" class="cat-link">
                <div class="cat-img">
                  <img src="{{image}}">
                </div>
                <div class="cat-name">{{name}}</div>
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
    integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
    crossorigin="anonymous"></script>
</body>
</html>
