<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Картинки</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item active" aria-current="page">Картинки</li>
            </ol>
          </nav>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Картинки</h1>
          </div>

          <form class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 needs-validation" enctype="multipart/form-data" method="POST" novalidate>
            <div class="col-12 image-input-container">
              <div class="input-group">
                <span class="input-group-text"><span data-feather="image"></span></span>
                <div class="form-file form-image show">
                  <input name="images" type="file" id="fileField" class="form-file-input" accept=".jpeg,.jpg,.png,.svg,.gif" multiple>
                  <label class="form-file-label" for="fileField">
                    <span class="form-file-text">Выберите картинки (jpeg, jpg, png, svg, gif), размером до 3 мб</span>
                  </label>
                </div>
                <input name="images" type="url" class="form-control form-image" placeholder="Список URL через запятую (jpeg, jpg, png, svg, gif)">
                <select class="form-select image-input-type">
                  <option value="file" selected>Файл</option>
                  <option value="url">URL</option>
                </select>
                <button class="btn btn-outline-primary" type="submit" id="upload">Загрузить</button>
              </div>

              <div class="image-preview border mt-1"></div>
            </div>
            
            {{!-- <div class="input-group">
              <span class="input-group-text"><span data-feather="image"></span></span>
              <div class="form-file">
                <input name="image" type="file" class="form-file-input" accept=".jpeg,.jpg,.png,.svg,.gif" id="imageFile" required>
                <label class="form-file-label" for="imageFile">
                  <span class="form-file-text" data-placeholer="Выберите картинку (jpeg, jpg, png, svg, gif), размером до 3 мб">Выберите картинку (jpeg, jpg, png, svg, gif), размером до 3 мб</span>
                </label>
              </div>
              <button class="btn btn-outline-primary" type="submit" id="upload">Загрузить</button>
            </div> --}}
          </form>

          <div class="table-responsive">
            <table class="table table-bordered align-middle table-Light table-striped table-sm">
              <thead class="align-middle">
                <tr>
                  <th>Название</th>
                  <th>URL</th>
                  <th>Управление</th>
                </tr>
              </thead>
              <tbody>
                {{#each images}}
                  <tr class="image-row">
                    <td class="image-name">{{this}}</td>
                    <td class="image-link"><a href="{{../path}}{{this}}" target="_blank">{{../origin}}{{../path}}{{this}}</a></td>
                    <td class="buttons btn-group btn-group-sm">
                      <buton class="btn btn-outline-primary image-copy"><span data-feather="copy"></span></buton>
                      <buton class="btn btn-outline-primary image-delete"><span data-feather="trash"></span></buton>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
