<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Импорт</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}

        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item active" aria-current="page">Импорт</li>
            </ol>
          </nav>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Импорт</h1>
          </div>

          <form>
            <div class="input-group">
              <span class="input-group-text"><span data-feather="file-text"></span></span>
              <div class="form-file ">
                <input name="import" type="file" class="form-file-input" accept=".xls,.xlsx" id="importFile">
                <label class="form-file-label" for="importFile">
                  <span class="form-file-text" data-placeholder="Выберите файл в формате .xls или .xlsx, размером до 10 мб">Выберите файл в формате .xls или .xlsx, размером до 10 мб</span>
                  <span class="form-file-button">Выбрать файл</span>
                </label>
              </div>
            </div>

            <div class="mt-4">
              <button id="add" type="button" class="btn btn-primary">
                Добавить
              </button>
              <button id="update" type="button" class="btn btn-primary">
                Обновить
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
