<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Админ-панель</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <div class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Админ-панель</li>
            </ol>
          </nav>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Админ-панель</h1>
          </div>
        </main>
      </div>
    </div>

    {{> scripts}}
  </body>

</html>
