<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Пользователи</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
            </ol>
          </nav>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Пользователи</h1>
          </div>

          <div class="btn-toolbar justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2">
            <div class="btn-group mt-1 mb-1 mr-2">
            </div>
            <div class="btn-group onPage mt-1 mb-1">
              <button type="button" class="btn btn-sm btn-outline-primary" value="25" data-toggle="tooltip" data-placement="top" title="Отображать 25 элементов на странице">25</button>
              <button type="button" class="btn btn-sm btn-outline-primary" value="50" data-toggle="tooltip" data-placement="top" title="Отображать 50 элементов на странице">50</button>
              <button type="button" class="btn btn-sm btn-outline-primary" value="100" data-toggle="tooltip" data-placement="top" title="Отображать 100 элементов на странице">100</button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered align-middle table-Light table-striped table-sm">
              <thead class="align-middle">
                <tr>
                  <th>Email</th>
                  <th>Роль</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                  <tr>
                    <td><a href="mailto:{{email}}" target="_blank">{{email}}</a></td>
                    <td>{{role}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          {{pagination pagination_data}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
