<aside id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <nav>
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin-panel/statistic">
            <span data-feather="activity"></span>
            Статистика
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/orders">
            <span data-feather="clipboard"></span>
            Заказы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/users">
            <span data-feather="users"></span>
            Пользователи
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/import">
            <span data-feather="download"></span>
            Импорт
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/settings">
            <span data-feather="settings"></span>
            Настройки
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Содержимое</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/categories">
            <span data-feather="folder"></span>
            Категории
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/products">
            <span data-feather="file-text"></span>
            Товары
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/articles">
            <span data-feather="list"></span>
            Артикулы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/images">
            <span data-feather="image"></span>
            Картинки
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
