<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
  <nav class="block">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">КрымКрепёж 2.0</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control w-100" type="text" placeholder="Поиск" aria-label="Search">
    {{#if user}}
      <form action="/auth/signout" method="post">
        <button id="exit" class="nav-link" type="submit">Выйти</button>
      </form>
    {{else}}
    <a href="/auth/signin"><button class="nav-link">Войти</button></a>
    {{/if}}
  </nav>
</header>
