<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Редактирование артикулов</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="pt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item"><a href="/admin-panel/articles">Артикулы</a></li>
              <li class="breadcrumb-item active" aria-current="page">Редактирование артикулов</li>
            </ol>
          </nav>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Редактирование артикулов</h1>
          </div>

          <form class="row g-3 needs-validation checkable" novalidate>
            <input class="input-group-field" type="hidden" name="IDs" value="{{IDs}}">

            <div class="col-sm-12">
              <label for="productField" class="form-label">Товар</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="file-text"></span></span>
                <select name="product" class="input-group-field form-select" id="productField" disabled>
                  <option value=" " selected></option>
                  {{#each products}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
                <div class="invalid-feedback">Выберите значение</div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="measureNameField" class="form-label">Наименование меры</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="package"></span></span>
                <input name="measureName" type="text" class="input-group-field form-control" id="measureNameField" disabled>
                <div class="invalid-feedback">Заполните поле</div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="quantityField" class="form-label">Количество</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="layers"></span></span>
                <input name="quantity" type="number" class="input-group-field form-control" id="quantityField" disabled>
                <div class="invalid-feedback">Заполните поле</div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="priceField" class="form-label">Розничная цена</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="shopping-cart"></span></span>
                <input name="price" type="number" class="input-group-field form-control" id="priceField" min="0" step="any" disabled>
                <div class="invalid-feedback">Заполните поле</div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="costPriceField" class="form-label">Оптовая цена</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="truck"></span></span>
                <input name="costPrice" type="number" class="input-group-field form-control" id="costPriceField" min="0" step="any" disabled>
                <div class="invalid-feedback">Заполните поле</div>
              </div>
            </div>

            <div class="col-sm-12">
              <label for="activeField" class="form-label">Видимость</label>
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input" type="checkbox">
                </div>
                <span class="input-group-text"><span data-feather="eye"></span></span>
                <select name="active" class="input-group-field form-select" id="activeField" disabled>
                  <option value="true">Активный</option>
                  <option value="false">Скрытый</option>
                </select>
                <div class="invalid-feedback">Выберите значение</div>
              </div>
            </div>

            <div class="col-12">
              <button id="sendBtn" type="button" class="btn btn-primary btn-block">Обновить все</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    {{> scripts}}
  </body>

</html>
