<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Редактирование артикула</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with article}}
            <nav class="pt-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/articles">Артикулы</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/articles/{{id}}">Артикул</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
              </ol>
            </nav>

            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Редактирование артикула</h1>
            </div>

            <form class="row g-3 needs-validation" method="POST" autocomplete="off" novalidate>
              <div class="col-12">
                <label for="uuidField" class="form-label">UUID</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="anchor"></span></span>
                  <input name="uuid" type="text" class="form-control" id="uuidField" value="{{uuid}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <label for="nameField" class="form-label">Навание</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="bookmark"></span></span>
                  <input name="name" type="text" class="form-control" id="nameField" value="{{name}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <label for="productField" class="form-label">Товар <span class="text-muted">(Optional)</span></label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="file-text"></span></span>
                  <select name="product" class="form-select" id="productField">
                    <option selected></option>
                    {{#each ../products}}
                      {{#ifEquals id ../product.id}}
                        <option value="{{id}}" selected>{{name}}</option>
                      {{else}}
                        <option value="{{id}}">{{name}}</option>
                      {{/ifEquals}}
                    {{/each}}
                  </select>
                  <div class="invalid-feedback">Выберите значение</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="measureNameField" class="form-label">Наименование меры</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="package"></span></span>
                  <input name="measureName" type="text" class="form-control" id="measureNameField" value="{{measureName}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="quantityField" class="form-label">Количество</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="layers"></span></span>
                  <input name="quantity" type="number" class="form-control" id="quantityField" value="{{quantity}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="priceField" class="form-label">Розничная цена</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="shopping-cart"></span></span>
                  <input name="price" type="number" class="form-control" id="priceField" min="0" step="any" value="{{price}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="costPriceField" class="form-label">Оптовая цена</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="truck"></span></span>
                  <input name="costPrice" type="number" class="form-control" id="costPriceField" min="0" step="any" value="{{costPrice}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="codeField" class="form-label">Код</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="hash"></span></span>
                  <input name="code" type="number" class="form-control" id="codeField" value="{{code}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-sm-6">
                <label for="barCodeField" class="form-label">Штрих-код</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="tag"></span></span>
                  <input name="barCode" type="text" class="form-control" id="barCodeField" value="{{barCode}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check form-switch">
                  {{#if active}}
                    <input name="active" class="form-check-input" type="checkbox" id="activeField" value="true" checked>
                  {{else}}
                    <input name="active" class="form-check-input" type="checkbox" id="activeField" value="true">
                  {{/if}}
                  <label class="form-check-label" for="activeField">Видимость</label>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
              </div>
            </form>
          {{/with}}
        </div>
      </div>
    </main>
    {{> scripts}}
  </body>

</html>
