<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>{{article.name}}</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with article}}
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item"><a href="/admin-panel/articles">Артикулы</a></li>
              <li class="breadcrumb-item active" aria-current="page">Артикул</li>
            </ol>
          </nav>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2 mr-2">{{name}}</h1>
              <div class="btn-toolbar btn-toolbar-title">
                <a class="mt-1 mb-1" href="/admin-panel/articles/{{id}}/edit"><button class="btn btn-sm btn-primary" title="Изменить данные артикула">Редактировать</button></a>
                <button id="delete" class="btn btn-sm btn-primary mb-1 ml-2 mt-1" title="Удалить артикул">Удалить</button>
              </div>
            </div>

            <p><b>UUID</b>: {{uuid}}</p>
            <p><b>Название</b>: {{name}}</p>
            <p><b>Товар</b>: <a href="/admin-panel/products/{{product.id}}" target="_blank">{{product.name}}</a></p>
            <p><b>Наименование меры</b>: {{measureName}}</p>
            <p><b>Количество</b>: {{quantity}}</p>
            <p><b>Розничная цена</b>: {{price}}</p>
            <p><b>Оптовая цена</b>: {{costPrice}}</p>
            <p><b>Код</b>: {{code}}</p>
            <p><b>Штрих-код</b>: {{barCode}}</p>
            {{#if active}}
              <p><b>Статус</b>: Активен</p>
            {{else}}
              <p><b>Статус</b>: Скрыт</p>
            {{/if}}
          {{/with}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
