<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Редактирование категории</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with category}}
            <nav class="mt-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/categories">Категории</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/categories/{{id}}">Категория</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
              </ol>
            </nav>

            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Редактирование категории</h1>
            </div>

            <form class="row g-3 needs-validation" method="POST" enctype="multipart/form-data" autocomplete="off" novalidate>
              <div class="col-12">
                <label for="nameField" class="form-label">Навание</label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="bookmark"></span></span>
                  <input name="name" type="text" class="form-control" id="nameField" value="{{name}}" required>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <label for="parentField" class="form-label">Родительская категория <span class="text-muted">(Optional)</span></label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="folder"></span></span>
                  <select name="parent" class="form-select" id="parentField">
                    <option></option>
                    {{create_select_tree ../categories id parent.id}}
                  </select>
                </div>
              </div>

              <div class="col-12 image-input-container">
                <label class="form-label">Картинка <span class="text-muted">(Optional)</span></label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="image"></span></span>
                  <div class="form-file form-image">
                    <input name="image" type="file" class="form-file-input" accept=".jpeg,.jpg,.png,.svg,.gif">
                    <label class="form-file-label">
                      <span class="form-file-text">Выберите картинку (jpeg, jpg, png, svg, gif), размером до 3 мб</span>
                    </label>
                  </div>
                  <input name="image" type="url" class="form-control form-image show" placeholder="URL картинки (jpeg, jpg, png, svg, gif)" value="{{image}}">
                  <select class="form-select image-input-type">
                    <option value="file">Файл</option>
                    <option value="url" selected>URL</option>
                  </select>
                </div>

                <div class="image-preview border mt-1"></div>
              </div>

              <div class="col-12">
                <label for="descriptionField" class="form-label">Описание <span class="text-muted">(Optional)</span></label>
                <div class="input-group">
                  <span class="input-group-text"><span data-feather="file-text"></span></span>
                  <textarea name="description" class="form-control" id="descriptionField">{{description}}</textarea>
                  <div class="invalid-feedback">Заполните поле</div>
                </div>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
              </div>
            </form>
          {{/with}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
