<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Категории</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <nav class="mt-3" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
              <li class="breadcrumb-item active" aria-current="page">Категории</li>
            </ol>
          </nav>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 mr-2">Категории</h1>
            <div class="btn-toolbar">
              <a href="/admin-panel/categories/add" class="mb-1 ml-1 mt-1"><button class="btn btn-sm btn-primary" title="Добавить новую категорию">Добавить</button></a>
            </div>
          </div>

          <div class="btn-toolbar justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2">
            <div class="btn-group display mt-1 mb-1 mr-1">
              <button class="btn btn-sm btn-outline-primary" value="table"><span data-feather="grid"></span></button>
              <button class="btn btn-sm btn-outline-primary" value="list"><span data-feather="align-right"></span></button>
            </div>
            {{#ifEquals display 'table'}}
              <div class="btngroup mt-1 mb-1 mr-1 ml-1">
                <button name="addFilter" class="btn btn-sm btn-primary"><span data-feather="plus"></span> Фильтр</button>
              </div>
              <div class="btn-group onPage mt-1 mb-1">
                <button type="button" class="btn btn-sm btn-outline-primary" value="25" title="Отображать 25 элементов на странице">25</button>
                <button type="button" class="btn btn-sm btn-outline-primary" value="50" title="Отображать 50 элементов на странице">50</button>
                <button type="button" class="btn btn-sm btn-outline-primary" value="100" title="Отображать 100 элементов на странице">100</button>
              </div>
            {{/ifEquals}}
          </div>

          <div class="filters"></div>

          <div class="filter_buttons">
            <button name="applyFilters" class="btn btn-sm btn-primary"><span data-feather="check"></span> Применить</button>
            <button name="resetFilters" class="btn btn-sm btn-primary"><span data-feather="rotate-ccw"></span> Сбросить</button>
          </div>

          {{#ifEquals display 'table'}}
            <div class="table-responsive">
              <table class="table table-bordered align-middle table-Light table-striped table-sm">
                <thead class="align-middle">
                  <tr>
                    <th>Родительская категория</th>
                    <th>Название</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each categories}}
                    <tr>
                      <td>
                        {{#if parent}}
                          <a href="/admin-panel/categories/{{parent.id}}" target="_blank">{{parent.name}}</a>
                        {{/if}}
                        </td>
                      <td><a href="/admin-panel/categories/{{id}}">{{name}}</a></td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            {{pagination pagination_data}}
          {{else}}
            <div class="table-responsive hierarchy">
              {{create_hierarchy_tree tree}}
            </div>
          {{/ifEquals}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
