<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>{{category.name}}</title>
    {{> styles}}
  </head>

  <body>
    {{> adminPanel/header}}

    <main class="container-fluid">
      <div class="row">
        {{> adminPanel/aside}}
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {{#with category}}
            <nav class="mt-3" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin-panel">Админ-панель</a></li>
                <li class="breadcrumb-item"><a href="/admin-panel/categories">Категории</a></li>
                <li class="breadcrumb-item active" aria-current="page">Категория</li>
              </ol>
            </nav>

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2 mr-2">{{name}}</h1>
              <div class="btn-toolbar btn-toolbar-title">
                <a class="mt-1 mb-1" href="/admin-panel/categories/{{id}}/edit"><button class="btn btn-sm btn-primary" title="Изменить данные категории">Редактировать</button></a>
                <button id="delete" class="btn btn-sm btn-primary mb-1 ml-2 mt-1" title="Удалить категорию">Удалить</button>
              </div>
            </div>

            <p><b>Название</b>: {{name}}</p>
            <p><b>Родительская категория</b>: <a href="/admin-panel/categories/{{parent.id}}" target="_blank">{{parent.name}}</a></p>
            <div class="images-block">
              <b>Картинки</b>:
              <div class="images-preview">
                {{#if image}}
                  <a href="{{image}}" target="_blank"><img src="{{image}}" class="border" alt="{{image}}" title="{{image}}"></a>
                {{/if}}
              </div>
            </div>
            <p><b>Описание</b>: {{description}}</p>
          {{/with}}
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
