/* Кнопки */

.btn {
  box-shadow: none!important;
  font-size: .875rem;
}

.btn-primary {
  color: #fff!important;
  background-color: #0d6efd!important;
  border-color: #0d6efd!important;
}

.btn-toolbar-title {
  justify-content: flex-end;
}

.btn-toolbar {
  &#many-toolbar, &#one-toolbar {
    display: none;

    &.show {
      display: flex;
    }
  }
}
