/* Содержимое */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .item {
    display: flex;
  
    flex-direction: column;
  
    width: 360px;
    min-height: 240px;
  
    text-decoration: none;
    color: #303030;
  
    padding: 12px;
  
    border: 1px solid #dee2e6;
  
    margin: 12px;
    
    .title {
      font-size: calc(.90rem + 0.9vw);
    }

    .description {
      overflow-wrap: break-word;
    }

    .image {
      align-self: center;
      max-width: 100%;
      max-height: 120px;
    }
  }
}
