/* Страница ошибки */

.error-page {
  display: flex;
  align-items: center;
  padding-bottom: 100px;

  .error-block {
    margin: auto;

    .error-status {
      font-size: 13rem;
    }

    .error-message {
      font-size: 2rem;
    }
  }
}
