/* Поля */

.form-control, .form-file-label, .form-select {
  font-size: .875rem;
  box-shadow: none !important;
}

// Поле для загрузки картинок
.image-input-container {
  .form-image {
    display: none;

    &.show {
      display: block;
    }
  }

  .image-input-type {
    max-width: fit-content;
  }

  .image-preview {
    display: none;
    padding: 4px;

    &.show {
      display: block;
    }

    img {
      max-width: 50px;
      max-height: 50px;
      padding: 4px;
    }
  }
}

// Множественный селект
.select-many {
  user-select: none;

  .labels .label {
    font-size: 0.85em;
    padding: 0.35em 0.5em;
    margin: 2px 6px 2px 0;

    .close {
      font-size: 0.85em;
      text-shadow: none;
      outline: none;
    }
  }

  .options {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 34px;
    z-index: 10;
    max-height: 240px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(48, 48, 48, 0.3);

    &.show {
      display: block;
    }

    .search {
      border: none;
      padding: 8px;

      &::-webkit-input-placeholder {
        color: #b3b3b3;
      }
    }

    .option {
      padding: 8px;
      cursor: pointer;

      &.hide {
        display: none;
      }

      &.selected {
        cursor: unset;
        color: #b3b3b3;
      }

      &:not(.selected):hover {
        background-color: #e9ecef;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #dee2e6;
      }

      &:first-of-type:not(:first-child) {
        border-top: 1px solid #dee2e6;
      }
    }
  }
}
