/* Фильтрация */

.filter {
  .close {
    outline: none;
  }
  
  .filter-options .form-check {
    margin-bottom: 2px;
    margin-top: 13px;
    margin-left: 8px;
  }
}


.filter_buttons {
  display: none;

  &.show {
    display: block;
    margin-bottom: 1rem !important;
  }

  button {
    margin: 0.25rem 0 !important;

    &:not(:last-child) {
      margin-right: 0.25rem !important;
    }
  }
}
