/* Иерархический список */

.hierarchy {
  .list-group {
    .list-group-item {
      white-space: nowrap;

      span:last-child {
        padding-left: 12px;
      }
    }

    .list-group {
      margin-left: 24px;
    }
  } 

  .list-group-flush > .list-group-item {
    border-width: 0 0 1px!important;
  }
}

