/* Основные */

body {
  color: #303030;
  font-size: .875rem;
  min-width: 240px;
}

main {
  padding-bottom: 1rem;
}

.h100 {
  height: 100%;
}

.preview {
  padding: 8px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  user-select: none;
  border: none; 
  outline: none; 

  & * {
    border: none; 
    outline: none; 
    user-select: none;
  }
}


.images-block {
  display: inline-block;

  .images-preview {
    display: inline-block;

    img {
      max-width: 64px;
      max-height: 64px;
    
      padding: 4px;
      margin: 0 4px;
    }
  }
}

