/* Верхнее меню */

.navbar {
  user-select: none;
}

.navbar .block {
  display: contents;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
  box-shadow: none;
}

.navbar .navbar-toggler:hover {
  background-color: rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: 9px 26px;
  border-width: 0;
  border-radius: 0;
  box-shadow: none;
}

.navbar form {
  display: contents;
}

.navbar button.nav-link {
  color: #fff!important;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  outline: none;
  background: none;
}

.navbar button.nav-link:hover {
  background-color: rgba(0, 0, 0, .25);
}

@media (max-width: 768px) {
  .navbar button.nav-link {
    width: 100%;
  }

  .navbar .form-control {
    padding: 9px 15px;
  }
}
