/* Таблицы */

.table {
  th {
    white-space: nowrap;
  }

  td {
    white-space: nowrap;

    &.buttons {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .sortable {
    cursor: pointer;
  }
}
