/* Подсказки */

.tooltip-inner {
  color: #0d6efd;
  background-color: #fff;
  border: 1px solid #0d6efd;
}
.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #0d6efd;
}

.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #0d6efd;
}

.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: #0d6efd;
}

.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: #0d6efd;
}
