<!DOCTYPE html>
<html lang="ru">

  <head>
    {{> meta}}
    <title>Товары</title>
    {{> styles}}
  </head>

  <body>
    {{> header}}

    <main class="container-fluid">
      <div class="row">
        <aside id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <nav>
            <div class="position-sticky pt-3">
            </div>
          </nav>
        </aside>
        
        <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 mr-2">Товары</h1>
          </div>

          <div class="container">
            {{#each products}}
              <a href="/products/{{id}}" class="item">
                <h2 class="title">{{name}}</h2>
                <p class="description">{{description}}</p>
                <img class="image" src="{{images}}">
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </main>

    {{> scripts}}
  </body>

</html>
